# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
main
*.zip
internet-monitor

# Test binary, build with `go test -c`
*.test

# Vendor folder
vendor/

#Project Folders
bin
token.json
credentials.json